@import 'select2/select2.css';
@import '../../bower_components/fontawesome/scss/font-awesome.scss';

body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}


.fromnow {
	color: #4c4c4c;
	font-style: italic;
}
.fromnow:before {
	content: '(';
}
.fromnow:after {
	content: ')';
}

.select2-container {
	min-width: 100%;
	display: block;
}